---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div>
    {%- assign profileImage = "/assets/images/profile_picture.jpg" -%}
      <img src="{{- profileImage | relative_url -}}" alt="" class="profile-image">
</div>

<div class="clearfix">
  {{ content }}
</div>

<div class="clearfix">
  {%- if site.posts.size > 0 -%}
    <p class="post-list-heading">{{ page.list_title | default: "What's new" }}</p>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <!-- {%- if post.image -%}
        <img src="{{- post.image | relative_url -}}" alt="" class="blog-roll-image">
        {%- else -%}
          {%- assign postImage = "/assets/images/default-greg-rosenke.jpg" -%}
          <img src="{{- postImage | relative_url -}}" alt="" class="blog-roll-image">
        {%- endif -%}
        -->
        <p>
          {%- assign date_format = site.minima.date_format | default: "%d %b %Y" -%} 
          <span class="post-meta">
            {{ post.date | date: date_format }}
          </span>
          <span class="separator">  >>  </span>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </p>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    <!-- <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}
  </div>
</div>
