---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {{ content }}
  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      {%- if post.category=="projects" -%}
      <li>
        {%- if post.image -%}
        <img src="{{- post.image | relative_url -}}" alt="" class="blog-roll-image">
        {%- else -%}
          {%- assign postImage = "/assets/images/default-greg-rosenke.jpg" -%}
          <img src="{{- postImage | relative_url -}}" alt="" class="blog-roll-image">
        {%- endif -%}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
    <!-- <p class="rss-subscribe">Subscribe <a href="{{ "blog-projects/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}
</div>